$base-font: $lato;
img{
    max-width: 100%;
}

html{
    font-size: 10px;
    // 1 rem
}

body{
    font-family: $base-font;
    font-weight: $font-weight-normal;
}

/*main{
    padding-top: 90px;
}*/

@media(min-width:576px){
    main{
        padding-top: 74px;
    }
}
