$team-title-text:#1E1E1E;
$team-border:#ECD9D9;


.team-section{

    h3{
        font-family: $bodoni-moda;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 5px;
        color: $team-title-text;
        //margin-top: 100px;
    }
    
    ul{
        border: 1px solid $team-border;
    }
    .team-member{

        .team-member-name{
            font-family: $lato;
            font-size: 30px;
            margin-bottom: 35px;
            margin-top: 15px;
            color: $team-title-text;
        }
        .team-member-content{
            //margin-left: 107px;
            //margin-right: 80px;
            // padding: 85px 0;
            a{
                color: $team-title-text;
                margin-bottom: 35px;
                text-decoration: none;
            }
        }
        .team-member-info{
            font-family: $lato;
            font-size: 16px;
            line-height: 23px;
            color: $team-title-text;
            //height: 3em;
            //overflow: hidden;
        }
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 8px;
        height: 8px;
        background: #ECD9D9;
    }

}


@media(min-width:320px){
    .team-section{
        padding: 20px 0;
    }
}

@media(min-width:576px){
    .team-section{
        padding: 30px 0;
    }
}

@media(min-width:768px){
    .team-section{
        padding: 54px 0;
        .team-member{
            .team-member-img{
                //margin-left: 95px;
                // max-width: 80%;
                // padding: 54px 0;
            }
            .team-member-content{
                padding: 30px 0;
            }
        }
    }
}

@media(min-width:992px){
    .team-section{
        .owl-carousel .owl-item img {
            margin-left: 95px;
            max-width: 80%;
            padding: 54px 0;
        }
        .team-member{
            // .team-member-img{}

            .team-member-content{
                margin-left: 107px;
                margin-right: 80px;
                padding: 85px 0;
            }
        }
    }
}